@import 'styles/vars.scss';

.container {
  display: flex;
  justify-content: center;
  font-weight: 300;
  line-height: normal;
  flex-direction: column;

  margin: 36px 10%;
  flex-direction: column;

  @media screen and (min-width: $breakpoint-lg) {
    flex-direction: row;
    margin-right: 15%;
    margin-left: auto;
  }

  @media screen and (min-width: $breakpoint-xl) {
    margin-left: calc(23% - 300px);
    margin-right: 23%;
  }

  @media screen and (min-width: $breakpoint-lg) {
    flex-direction: row;
  }

  .helpContent {
    max-width: 950px;

    .topText {
      display: flex;
      flex-direction: column;
      margin: 0;

      .title {
        font-size: 24px;
        font-weight: 600;
        line-height: normal;
      }

      .spanMargin {
        display: flex;
      }

      .text {
        margin-top: 16px;
        margin-bottom: 13px;

        span {
          display: block;
          font-size: 20px;
          font-weight: 500;
        }
      }

      .liNoStyle {
        list-style-type: none;
        list-style-position: inside;
      }
    }

    .subtitle {
      font-size: 16px;
      font-weight: 500;
      margin: 24px 0 16px;
    }

    .bold {
      font-weight: 500;
    }

    .title {
      font-weight: 500;
      font-size: 16px;
    }

    .mainList {
      font-size: 14px;
    }

    strong {
      font-weight: bold;
    }

    li {
      &::marker {
        font-weight: 500;
      }
    }

    li span {
      display: block;
    }

    .liDecimal {
      list-style-type: decimal;
      margin-left: 3%;

      @media (min-width: $breakpoint-md) {
        margin-left: 35px;
      }
    }

    .liDisc {
      list-style-type: disc;
    }

    .liLowerAlpha {
      list-style-type: lower-alpha;
      margin-left: 3%;

      @media (min-width: $breakpoint-md) {
        margin-left: 35px;
      }
    }

    .liDash {
      list-style-type: '- ';
    }

    .liNone {
      list-style-type: none;
    }

    ol {
      list-style-type: none;
    }

    ol li,
    li span {
      margin-bottom: 10px;
    }

    .bold {
      font-weight: 400;
    }

    ol > li {
      margin-bottom: 15px;
    }
  }
}
