$c-green: #39aba4;
$c-white: #ffffff;
$c-darkGrey: #afafaf;
$c-lightGrey: #e8e8e8;
$c-grey: #adadad;
$c-disabled: #dfdfdf;
$c-silver: #f9f9f9;
$c-black: #141414;
$c-red: #f84435;
$c-limeGreen: #53c882;
$c-yellow: #fdf7d3;
$c-warning: #d81809;

$breakpoint-s: 400px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-modal-bp: 820px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
$breakpoint-xxl: 1400px;
$breakpoint-3xl: 1500px;
$breakpoint-4xl: 1600px;

$default-grid-gap: 32px;
$default-grid-block: 7 * 32px;