@import 'styles/vars.scss';

.container {
  margin: 0 auto;
  max-width: 980px;
  overflow: auto;

  .imageWrapper {
    position: relative;
  }

  thead,
  tfoot {
    color: $c-white;
    background-color: $c-green;
  }

  tbody {
    background-color: #f0f8f7;
    word-break: break-word;
  }

  table {
    border-collapse: collapse;
    border: 2px solid $c-grey;
  }

  td,
  th {
    border: 1px solid $c-grey;
    padding: 5px 10px;
    text-align: left;
  }
}
