@import 'styles/vars.scss';

.backToList {
  padding: 20px 4%;
  position: relative;
  cursor: pointer;
  color: $c-green;
  font-size: 12px;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 8px;

  @media screen and (min-width: $breakpoint-md) {
    display: none;
    padding: 26px 22px 0 22px;
    margin-bottom: 40px;
  }

  .arrow {
    transform: rotate(180deg);
    display: none;
    @media screen and (min-width: $breakpoint-md) {
      display: block;
    }
  }

  .arrowMobile {
    transform: rotate(-90deg);
    @media screen and (min-width: $breakpoint-md) {
      display: none;
    }
  }
}
