@import 'styles/vars.scss';

.buttonWrapper {
  display: flex;
  justify-content: flex-end;

  .chatButton {
    display: inline-flex;
    color: $c-green;
    font-size: 0.875rem;
    font-weight: 500;
    align-items: center;
    justify-content: flex-end;
    gap: 0.375rem;
    padding: 0.25rem 0.375rem;
    border-radius: 0.25rem;
    border: 1px solid $c-green;
    background-color: white;
    cursor: pointer;

    .image {
      max-width: 1.25rem;
      max-height: 1.25rem;
    }
  }
}
